/* Write your CSS here */
.list-card-item {
  background-color: #1e293b;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  margin: 8px;
  height: 130px;
  width: 300px;
  border: 1px solid #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.team-img {
  height: 80px;
  width: 80px;
  margin-right: 5px;
}

.team-name-txt {
  font-family: 'Bree Serif';
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
}

.hyper-link {
  text-decoration: none;
}
